{% extends "base.html" %}

{% block content %}
    <div class="hero">
        <h1>智能家庭服务机器人</h1>
        <p>智能易用，性能出色，适用场景丰富的家庭辅助机器人</p>
        <div class="buttons">
            {% if current_user.is_authenticated %}
                <a href="/manager" class="btn">控制台</a>
            {% else %}
                <a href="/login" class="btn">登录后台</a>
            {% endif %}
            <a href="/docx" class="btn">使用文档</a>
            <a href="https://github.com/HeLongaa/AI_Robot_Dev" class="btn secondary">Github</a>
        </div>
    </div>

    <div class="features">
        <div class="feature-item">
            <h3>智能易用</h3>
            <p>基于ROS框架构建，提供智能交互和简单接口。</p>
            <div class="img">
                <img src="../static/img/ros.png" alt="ROS2">
            </div>
        </div>
        <div class="feature-item">
            <h3>性能出色</h3>
            <p>优化相应速度看，提升交互效率</p>
            <div class="img">
<!--                    <img src="" alt="智能易用">-->
            </div>
        </div>
        <div class="feature-item">
            <h3>灵活多变</h3>
            <p>适用于多种场景</p>
            <div class="img">
<!--                    <img src="" alt="智能易用">-->
            </div>
        </div>
    </div>
{% endblock %}